h1 {
	text-align: center;
}

.btn-info {
	background-color: #2a64e0;
	color: #FFFFFF;
}

#gifs {
 	float: left;
 	margin-left: 25px;
}

#submit {
	float: right;
	margin-right: 20px;
}

#submitButton {
	background-color: #2a64e0;
	color: #FFFFFF;
}
